// variables with defaults: MUTATION_NAME,MUTATION_PARAMS,CONVERT_TO_SUBSTITUTION,MUTATION_COLOR
// requires: MUTATION_NAME,MUTATION_PARAMS,CONVERT_TO_SUBSTITUTION,MUTATION_COLOR
initialize() {
	initializeMutationType("$MUTATION_NAME$", $MUTATION_PARAMS$);
	$MUTATION_NAME$.convertToSubstitution = $CONVERT_TO_SUBSTITUTION$;
	$MUTATION_NAME$.color = "$MUTATION_COLOR$";
}