// variables with defaults: GENERATION,SUBPOPULATION,N_INDIVIDUALS,REPLACE,MUTATION_NAME,POSITION
// requires: GENERATION,SUBPOPULATION,N_INDIVIDUALS,REPLACE,MUTATION_NAME,POSITION
$GENERATION$ late() {
	$SUBPOPULATION$.sampleIndividuals($N_INDIVIDUALS$, $REPLACE$).genomes.addNewDrawnMutation($MUTATION_NAME$, $POSITION$);
}