initialize() {
	defineGlobal("SIMULATION_ID", $SIMULATION_ID$)
	initializeMutationType("$MUTATION_NAME$", $MUTATION_PARAMS$);
	$MUTATION_NAME$.convertToSubstitution = $CONVERT_TO_SUBSTITUTION$
	$MUTATION_NAME$.color = "$MUTATION_COLOR$"
}